*~
*.emacs.d/
!.emacs.d/config.org
Code/
Element/
Nextcloud/
OpenTabletDriver/
QtProject.conf
Thunar/
autostart/
binwalk/
calibre/
configstore/
dconf/
discord/
go/
google-chrome/
gtk-*/
hardhat-nodejs/
htop/
index.html
index.html.1
inkscape/
libreoffice/
mimeapps.list
neofetch/
obs-studio/
pavucontrol.ini
pulse/
qq
qt5ct/
quodlibet/
rotki/
super-figure/
tox/
user-dirs.dirs
user-dirs.locale
vlc/
wireshark/
xarchiver/
xfce4/
xournalpp/
xsettingsd/
systemd/
kdeglobals
kdenlive-appimagerc
kdenlive-layoutsrc
zathura
