.emacs.d/
!.emacs.d/config.org
Code/
Element
Mousepad/
Nextcloud/
QtProject.conf
Thunar/
VitrualBox/
autostart/
binwalk/
calibre/
chromium
darktable/
dconf/
enchant/
github-copilot/
gtk-*/
htop/
jgit/
libreoffice/
menus/
mimeapps.list
neofetch/
nitrogen/
obsidian/
pavucontrol.ini
picom/
pulse/
quodlibet/
ristretto/
super-figure/
swi-prolog/
systemd/
user-dirs.dirs
user-dirs.locale
vlc/
xarchiver/
VirtualBox/
xfce4/

